<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Service AngularJS</title>
	<script src="../js/angularjs.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body>
	<div data-ng-app="calc_app" class="wrapper">
		<div data-ng-controller="calc_controller" class="col-sm-12">
			<h2>Cac phep toan 2 chu so</h2>
			<p><label for="num_a">Nhap so A: </label><input type="number" data-ng-model="number_a"></p>
			<p><label for="num_b">Nhap so B: </label><input type="number" data-ng-model="number_b"></p>
			<p>
				<input type="button" data-ng-click="cong()" value="+" />
				<input type="button" data-ng-click="tru()" value="-" />
				<input type="button" data-ng-click="nhan()" value="x" />
				<input type="button" data-ng-click="chia()" value="÷" />
			</p>
			<p id="result">{{result}}</p>
		</div>
	</div>
</body>
</html>